@font-face {
  font-family: "iconfont"; /* Project id 3144096 */
  src: url('iconfont.woff2?t=1660727907696') format('woff2'),
       url('iconfont.woff?t=1660727907696') format('woff'),
       url('iconfont.ttf?t=1660727907696') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yanjing:before {
  content: "\e627";
}

.icon-Star:before {
  content: "\e6d6";
}

.icon-yun:before {
  content: "\e693";
}

.icon-huojian:before {
  content: "\e603";
}

.icon-tag:before {
  content: "\e752";
}

.icon-xiangshang:before {
  content: "\e604";
}

.icon-baocun:before {
  content: "\e63b";
}

.icon-fuzhi:before {
  content: "\ec7a";
}

.icon-yinle:before {
  content: "\e60e";
}

.icon-shezhi:before {
  content: "\e70f";
}

.icon-ego-blog:before {
  content: "\e632";
}

.icon-home_light:before {
  content: "\e7d4";
}

.icon-search:before {
  content: "\e600";
}

.icon-about:before {
  content: "\e601";
}

.icon-link:before {
  content: "\e772";
}

.icon-resource:before {
  content: "\e72e";
}

