.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: var(--background-color)
}
/* 
.loading .left,
.loading .right {
    height: 100%;
    width: 0;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%)
}

.loading .left {
    float: left
}

.loading .right {
    float: right
}

.loading.loaded .left,
.loading.loaded .right {
    animation: door 1.5s
}

@keyframes door {
    30% {
        width: 50%
    }

    70% {
        width: 50%
    }

    100% {
        width: 0
    }
} */

.loading .wrapper {
    position: absolute;
    left: calc(50% - 180px);
    top: 50%
}

.loading .line {
    position: absolute;
    top: 0px;
    width: 2px;
    height: 8px;
    background-color: red
}

.loading .circle {
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: blue
}

.loading .circle-top {
    top: 0px;
    left: -3.5px
}

.loading .circle-bottom {
    bottom: 0px;
    left: -3.5px
}

.loading .dot {
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    left: -1.5px
}

.loading .line1 {
    margin-left: 0px;
    background-color: #2410CB;
    -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) infinite;
    animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) infinite
}

.loading .line1>span {
    background-color: #D4141E
}

.loading .line1>.dotted>.dot {
    background-color: #D4141E
}

.loading .line1>.dotted>.dot-top {
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) infinite;
    animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) infinite
}

.loading .line1>.dotted>.dot-bottom {
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) infinite;
    animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) infinite
}

.loading .line1>.dotted>.dot-middle-top {
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) infinite;
    animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) infinite
}

.loading .line1>.dotted>.dot-middle-bottom {
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) infinite
}

.loading .line2 {
    margin-left: 35px;
    background-color: #852DF4;
    -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s infinite;
    animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s infinite
}

.loading .line2>span {
    background-color: #FC7E48
}

.loading .line2>.dotted>.dot {
    background-color: #FC7E48
}

.loading .line2>.dotted>.dot-top {
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s infinite;
    animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s infinite
}

.loading .line2>.dotted>.dot-bottom {
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s infinite;
    animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s infinite
}

.loading .line2>.dotted>.dot-middle-top {
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s infinite
}

.loading .line2>.dotted>.dot-middle-bottom {
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.05s infinite
}

.loading .line3 {
    margin-left: 70px;
    background-color: #F42DF1;
    -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite;
    animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite
}

.loading .line3>span {
    background-color: #EDEB29
}

.loading .line3>.dotted>.dot {
    background-color: #EDEB29
}

.loading .line3>.dotted>.dot-top {
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite;
    animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite
}

.loading .line3>.dotted>.dot-bottom {
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite;
    animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite
}

.loading .line3>.dotted>.dot-middle-top {
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite
}

.loading .line3>.dotted>.dot-middle-bottom {
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.1s infinite
}

.loading .line4 {
    margin-left: 105px;
    background-color: #F91396;
    -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s infinite;
    animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s infinite
}

.loading .line4>span {
    background-color: #ACED29
}

.loading .line4>.dotted>.dot {
    background-color: #ACED29
}

.loading .line4>.dotted>.dot-top {
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s infinite;
    animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s infinite
}

.loading .line4>.dotted>.dot-bottom {
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s infinite;
    animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s infinite
}

.loading .line4>.dotted>.dot-middle-top {
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s infinite
}

.loading .line4>.dotted>.dot-middle-bottom {
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.15s infinite
}

.loading .line5 {
    margin-left: 140px;
    background-color: #D4141E;
    -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite;
    animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite
}

.loading .line5>span {
    background-color: #4EF02B
}

.loading .line5>.dotted>.dot {
    background-color: #4EF02B
}

.loading .line5>.dotted>.dot-top {
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite;
    animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite
}

.loading .line5>.dotted>.dot-bottom {
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite;
    animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite
}

.loading .line5>.dotted>.dot-middle-top {
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite
}

.loading .line5>.dotted>.dot-middle-bottom {
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.2s infinite
}

.loading .line6 {
    margin-left: 175px;
    background-color: #FC7E48;
    -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s infinite;
    animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s infinite
}

.loading .line6>span {
    background-color: #38E790
}

.loading .line6>.dotted>.dot {
    background-color: #38E790
}

.loading .line6>.dotted>.dot-top {
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s infinite;
    animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s infinite
}

.loading .line6>.dotted>.dot-bottom {
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s infinite;
    animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s infinite
}

.loading .line6>.dotted>.dot-middle-top {
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s infinite
}

.loading .line6>.dotted>.dot-middle-bottom {
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.25s infinite
}

.loading .line7 {
    margin-left: 210px;
    background-color: #EDEB29;
    -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite;
    animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite
}

.loading .line7>span {
    background-color: #25EACC
}

.loading .line7>.dotted>.dot {
    background-color: #25EACC
}

.loading .line7>.dotted>.dot-top {
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite;
    animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite
}

.loading .line7>.dotted>.dot-bottom {
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite;
    animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite
}

.loading .line7>.dotted>.dot-middle-top {
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite
}

.loading .line7>.dotted>.dot-middle-bottom {
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.3s infinite
}

.loading .line8 {
    margin-left: 245px;
    background-color: #ACED29;
    -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s infinite;
    animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s infinite
}

.loading .line8>span {
    background-color: #309CDF
}

.loading .line8>.dotted>.dot {
    background-color: #309CDF
}

.loading .line8>.dotted>.dot-top {
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s infinite;
    animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s infinite
}

.loading .line8>.dotted>.dot-bottom {
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s infinite;
    animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s infinite
}

.loading .line8>.dotted>.dot-middle-top {
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s infinite
}

.loading .line8>.dotted>.dot-middle-bottom {
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.35s infinite
}

.loading .line9 {
    margin-left: 280px;
    background-color: #4EF02B;
    -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite;
    animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite
}

.loading .line9>span {
    background-color: #2544E7
}

.loading .line9>.dotted>.dot {
    background-color: #2544E7
}

.loading .line9>.dotted>.dot-top {
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite;
    animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite
}

.loading .line9>.dotted>.dot-bottom {
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite;
    animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite
}

.loading .line9>.dotted>.dot-middle-top {
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite
}

.loading .line9>.dotted>.dot-middle-bottom {
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.4s infinite
}

.loading .line10 {
    margin-left: 315px;
    background-color: #38E790;
    -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.45s infinite;
    animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.45s infinite
}

.loading .line10>span {
    background-color: #852DF4
}

.loading .line10>.dotted>.dot {
    background-color: #852DF4
}

.loading .line10>.dotted>.dot-top {
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.45s infinite;
    animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.45s infinite
}

.loading .line10>.dotted>.dot-bottom {
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.45s infinite;
    animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.45s infinite
}

.loading .line10>.dotted>.dot-middle-top {
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.45s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.45s infinite
}

.loading .line10>.dotted>.dot-middle-bottom {
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.45s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.45s infinite
}

.loading .line11 {
    margin-left: 350px;
    background-color: #25EACC;
    -webkit-animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.5s infinite;
    animation: line 2s cubic-bezier(0.25, 0, 0.705, 1) 0.5s infinite
}

.loading .line11>span {
    background-color: #F42DF1
}

.loading .line11>.dotted>.dot {
    background-color: #F42DF1
}

.loading .line11>.dotted>.dot-top {
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.5s infinite;
    animation: dot-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.5s infinite
}

.loading .line11>.dotted>.dot-bottom {
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.5s infinite;
    animation: dot-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.5s infinite
}

.loading .line11>.dotted>.dot-middle-top {
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.5s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.25, 0, 0.705, 1) 0.5s infinite
}

.loading .line11>.dotted>.dot-middle-bottom {
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.5s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.25, 0, 0.705, 1) 0.5s infinite
}

@-webkit-keyframes line {
    0% {
        height: 4px;
        top: 0px;
        left: 0px;
        -webkit-transform: rotate(-65deg)
    }

    10% {
        height: 220px;
        top: -110px;
        left: 15px
    }

    45% {
        height: 200px;
        top: -100px;
        left: 25px
    }

    70% {
        height: 8px;
        top: 0px;
        left: 25px;
        -webkit-transform: rotate(0deg)
    }

    100% {
        height: 8px;
        top: 0px;
        left: 15px;
        -webkit-transform: rotate(0deg)
    }
}

@-webkit-keyframes dot-top {
    0% {
        top: -30px
    }

    10% {
        top: -30px
    }

    45% {
        top: -25px
    }

    60% {
        top: 0px
    }

    100% {
        top: 0px
    }
}

@-webkit-keyframes dot-bottom {
    0% {
        bottom: -30px
    }

    10% {
        bottom: -30px
    }

    45% {
        bottom: -25px
    }

    60% {
        bottom: 0px
    }

    100% {
        bottom: 0px
    }
}

@-webkit-keyframes dot-middle-top {
    0% {}

    10% {}

    45% {
        top: 98px
    }

    70% {
        top: -50px
    }

    85% {
        top: 0px
    }

    100% {
        top: 0px
    }
}

@-webkit-keyframes dot-middle-bottom {
    0% {}

    10% {}

    45% {
        bottom: 98px
    }

    70% {
        bottom: -50px
    }

    85% {
        bottom: 0px
    }

    100% {
        bottom: 0px
    }
}

@keyframes line {
    0% {
        height: 4px;
        top: 0px;
        left: 0px;
        transform: rotate(-65deg)
    }

    10% {
        height: 220px;
        top: -110px;
        left: 15px
    }

    45% {
        height: 200px;
        top: -100px;
        left: 25px
    }

    70% {
        height: 8px;
        top: 0px;
        left: 25px;
        transform: rotate(0deg)
    }

    100% {
        height: 8px;
        top: 0px;
        left: 15px;
        transform: rotate(0deg)
    }
}

@keyframes dot-top {
    0% {
        top: -30px
    }

    10% {
        top: -30px
    }

    45% {
        top: -25px
    }

    60% {
        top: 0px
    }

    100% {
        top: 0px
    }
}

@keyframes dot-bottom {
    0% {
        bottom: -30px
    }

    10% {
        bottom: -30px
    }

    45% {
        bottom: -25px
    }

    60% {
        bottom: 0px
    }

    100% {
        bottom: 0px
    }
}

@keyframes dot-middle-top {
    0% {}

    10% {}

    45% {
        top: 78px
    }

    70% {
        top: -50px
    }

    85% {
        top: 0px
    }

    100% {
        top: 0px
    }
}

@keyframes dot-middle-bottom {
    0% {}

    10% {}

    45% {
        bottom: 78px
    }

    70% {
        bottom: -50px
    }

    85% {
        bottom: 0px
    }

    100% {
        bottom: 0px
    }
}