.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    gap: 10px;
    width: 100%;
    z-index: 10;
    pointer-events: none
}

.cards .card {
    position: relative;
    width: 320px;
    height: 400px;
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 40px 30px;
    transition: 0.5s;
    pointer-events: all
}

.cards .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skew(15deg);
    transition: 0.5s
}

.cards .card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skew(15deg);
    filter: blur(30px);
    transition: 0.5s
}

.cards .card:hover:before,
.cards .card:hover:after {
    transform: skew(0deg);
    left: 20px;
    width: calc(100% - 90px)
}

.cards .card:nth-child(3n+1):before,
.cards .card:nth-child(3n+1):after {
    background: linear-gradient(315deg, cyan, #07f)
}

.cards .card:nth-child(3n+2):before,
.cards .card:nth-child(3n+2):after {
    background: linear-gradient(315deg, #4dff03, #00d0ff)
}

.cards .card:nth-child(3n+3):before,
.cards .card:nth-child(3n+3):after {
    background: linear-gradient(315deg, #03a9f4, #ff0058)
}

.cards .card span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    pointer-events: none
}

.cards .card span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05)
}

.cards .card:hover span::before {
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1
}

.cards .card span::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    animation-delay: -1s
}

.cards .card:hover span::after {
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1
}

@keyframes animate {

    0%,
    100% {
        transform: translateY(10px)
    }

    50% {
        transform: translateY(-10px)
    }
}

.cards .content {
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: 0.5s;
    color: white;
    z-index: 11
}

.cards .card:hover .content {
    left: -25px;
    padding: 60px 40px
}

.cards .content h2 {
    font-size: 1.8em;
    color: white;
    margin-bottom: 10px
}

.cards .content p {
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em
}

.cards .content a {
    display: inline-block;
    text-decoration: none;
    font-weight: 700
}

.cards .content a.link {
    font-size: 1.1em;
    color: #111;
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-top: 5px
}